<div class="container">
    <div class="row">
        <br><br>
    </div>
    <div class="row">
            <h2>Recargas</h2>
            <br><br>
        <div class="col-sm">
                <a title="DirecTV" href="http://localhost:4200/#/datos">
                <img class="f-center" src="./../../assets/imagenes/directv.png" width="150" alt="Consultas">
                </a>
            </div>
            <div class="col-sm">
                <a title="Digitel" href="http://localhost:4200/#/datos">
                    <img class="f-center" src="./../../assets/imagenes/digitel.png" width="150" alt="Servicios">
                </a>
            </div>
            <div class="col-sm">
                    <a title="Movistar" href="http://localhost:4200/#/datos">
                    <img class="f-center" src="./../../assets/imagenes/movistar.png" width="150" alt="Consultas">
                    </a>
                </div>
                <div class="col-sm">
                    <a title="GlobalLink" href="http://localhost:4200/#/datos">
                        <img class="f-center" src="./../../assets/imagenes/global.png" width="150" alt="Servicios">
                    </a>
                </div>
    </div>
</div>