<div class="container">
        <div class="row">
            <br><br>
        </div>
        <div class="row">
            <div class="col-sm">
                    <img src="./../../assets/imagenes/pagoexitoso.png" align="center-left" width="150" alt="">
                    <br/><br/>
                    <h3 style="color:#5092D8;" align="center-center">¡Su recarga ha sido exitosa!</h3>
                    <h3 style="color:#5092D8;" align="center">¡Gracias por utilizar nuestros servicios!</h3>
            </div>
            
        </div>
    </div>
