<div class="container">
        <div class="row">
            <br><br>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="f-center" src="./../../assets/imagenes/mediopago.png" width="250" alt="Consultas">
                <br/><br/>
                <p style="color:#5092D8;">Sub-Total:</p>
                <p style="color:#5092D8;">IVA:</p>
                <p style="color:#5092D8;">Total a Pagar:</p>
            </div>
            <div class="col-sm">
                    <form>

                            <div class="example-container">
                                        <mat-form-field>
                                                <input matInput placeholder="Nro. Cedula">
                                        </mat-form-field>
                                        <mat-form-field>
                                                <input matInput placeholder="Monto a pagar">
                                        </mat-form-field>

                                        <mat-radio-group aria-label="Seleccione un tipo de cuenta">
                                                <mat-radio-button value="1">Ahorro</mat-radio-button>
                                                <mat-radio-button value="2">Corriente</mat-radio-button>
                                        </mat-radio-group>

                                        <mat-form-field>
                                                <input matInput type="password" placeholder="Contraseña">
                                        </mat-form-field>

                                        <br/><br/>
                                        <button mat-raised-button color="primary" (click)="callFunction()">Recargar</button>

                                </div>
                            
                                                      
                            
                        </form>
            </div>
        </div>
    </div>

