<div class="container">
        <div class="row">
            <br><br>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="f-center" src="./../../assets/imagenes/mediopago.png" width="250" alt="Consultas">
                <br/><br/>
                <p style="color:#5092D8;">Sub-Total:</p>
                <p style="color:#5092D8;">IVA:</p>
                <p style="color:#5092D8;">Total a Pagar:</p>
            </div>
            <div class="col-sm">
                    <form>
                            <label style="color:#5092D8;">Cédula</label>
                            <input type="text" class="redondeado" placeholder="Ingrese número de cédula" maxlength="9" name="cédula" id="cédula">
                            <br/><br/>
                            <label style="color:#5092D8;">Monto a pagar</label>
                            <input type="text" class="redondeado" placeholder="Ingrese monto" maxlength="11" name="monto" id="monto">
                            <br/><br/>
                            <label style="color:#5092D8;" >Tipo de cuenta</label><br/><br/>
                            <input type="radio" name="boton" value="1"><a>Ahorro</a><br/>
                            <input type="radio" name="boton" value="2"><a>Corriente</a>
                            <br/><br/>
                            <label style="color:#5092D8;" >Contraseña</label>
                            <input type="password" class="redondeado" placeholder="Ingrese contraseña" name="contraseña" id="contraseña">
                            <br/><br/>
                            <a class="boton_personalizado" href="http://localhost:4200/#/respuesta">Recargar</a>
                            
                        </form>
            </div>
        </div>
    </div>

