<div class="container">
        <div class="row">
            <br><br>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="f-center" src="./../../assets/imagenes/movistar.png" width="250" alt="Consultas">
            </div>
            <div class="col-sm">
                    <form>
                            <label style="color:#5092D8;">ID/N° Teléfono</label>
                            <input type="text" class="redondeado" placeholder="Ingrese número de teléfono" maxlength="11" name="teléfono" id="teléfono">
                            <br/><br/>
                            <label style="color:#5092D8;">Monto</label>
                            <input type="text" class="redondeado" placeholder="Combo con montos precargados" maxlength="11" name="monto" id="monto">
                            <br/><br/>
                            <br/><br/>
                            <a class="boton_personalizado" href="http://localhost:4200/#/pago">Siguiente</a>
                        </form>
            </div>
        </div>
    </div>
