<div class="container">
        <div class="row">
            <br><br>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="f-center" [src]="urlImagen" width="250" alt="Consultas">
            </div>
            <div class="col-sm">
                    <form>

                        <div class="example-container">
                            <mat-form-field>
                                <input matInput placeholder="ID/N° Teléfono">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Monto">
                            </mat-form-field>

                            <br/><br/>
                            <button mat-raised-button color="primary" (click)="callFunction()">Recargar</button>

                        </div>
                     </form>
            </div>
        </div>
    </div>
